group Main
    source https://api.nuget.org/v3/index.json
    storage:none

    nuget FSharp.Core
    nuget TaskBuilder.fs
    nuget Npgsql

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE

group Test  
  source https://api.nuget.org/v3/index.json
  nuget Expecto
