group Main
    source https://api.nuget.org/v3/index.json
    storage:none
    
    nuget FSharp.Core
    nuget Npgsql
    nuget Giraffe.Tasks

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE
