group Main
  framework: netstandard2.0
  strategy: min
  lowest_matching: true
  source https://api.nuget.org/v3/index.json
  storage:none

  nuget FSharp.Core >= 6.0.4
  nuget Ply 0.3.1
  nuget Npgsql 6.04

group Build
  source https://api.nuget.org/v3/index.json

  nuget FAKE 4.64.13

group Test
  framework: netstandard2.0,netcoreapp3.1
  strategy: min
  source https://api.nuget.org/v3/index.json
  nuget FSharp.Core >= 6.0.4
  nuget Expecto 9.0.4
  nuget ThrowawayDb.Postgres 1.4.0